.poke-card{
  width: 300px;
  height: 350px;
  text-align: center;
  word-wrap: break-word;
  vertical-align: center;
  background-color: lightblue;
  border: 2px solid darkblue;
  border-radius: 2em;

}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#poke-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}